This file lists all files with specfied suffixs I want to ignore.
---------------------------------------------------------------------------- 

---------------------------------------------
*.dcm
---------------------------------------------
*.mat
*.IMA

!DataBase.mat
!NonRigidReg.mat
---------------------------------------------
*.zip
---------------------------------------------
*.asv
---------------------------------------------
*.fig
---------------------------------------------
*.jpg
---------------------------------------------
*.MRDC.*
---------------------------------------------
*.hdr
*.bin
---------------------------------------------