This file lists all files with specfied suffixs I want to ignore.
---------------------------------------------------------------------------- 

---------------------------------------------
*.dcm
---------------------------------------------
*.mat
!Maps_Data.mat
---------------------------------------------
*.zip
---------------------------------------------
*.asv
---------------------------------------------
*.fig
---------------------------------------------
*.jpg
---------------------------------------------
*.MRDC.*
---------------------------------------------